body {
    margin: 0 auto;
    padding: 0;
    background-color: #E0FBFC;
    max-width: 100%;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.625em;
    padding-top: 0.1em;
    margin: 0;
}

h3 {
    font-size: 1.375em;
}

h4 {
    font-size: 1.125em;
}

h5 {
    font-size: 1em;
}

h6 {
    font-size: .83em;
}

p {
    margin: 0 0.5em 0.5em 0;
    padding-right: 0.5em;
    font-size: 1.4em;
    text-align: justify;
}

header {
    display: block;
    color: white;
    text-align: center;
    overflow: hidden;
    padding: 0.4em 0 0.2em 0;
    margin: 0;
    font-size: 2.5em;
    font-weight: lighter;
}

footer {
    overflow: hidden;
    padding: 1em 1em 1em 15%;
}

/* Links */

a {
    text-decoration: none;
    color: black;
    padding: 0;
    margin: 0
}

a:hover {
    color: #7798AB;
}

.button-style a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: white;
    overflow: hidden;
    font-weight: lighter;
    background-color: #221E22;
    min-width: 8em;
    height: 2.5em;
    padding: 0.8em 2em 0.8em 2em;
    border: none;
}

.button-style a:hover {
    color: #C2DFE3;
}

/* Fonts */

.code-font {
    font-family: "Courier New", sans-serif;
}

.roboto-font {
    font-family: 'Roboto', sans-serif;
}

.lato-font {
    font-family: 'Lato', sans-serif;
}

/* Text */

.text-on-background {
    color: white;
}

/* Images */

.author-photo {
    border-radius: 50%;
    width: 50%;
    height: 50%;
    margin-left: 25%;
    margin-top: 5%;
}

.icon {
    width: 40%;
    height: auto;
    margin: 0 30% 0 30%;
}

.hobby-author-photo {
    width: 50%;
    height: auto;
    margin-left: 25%;
    margin-top: 0.5em;
}

.photo {
    width: 100%;
    height: auto;
}

.photo-graduate {
    max-width: 70%;
    height: auto;
    margin: 1em auto 1em auto;
}

/* Containers */

.container {
    width: 70%;
    padding: 0;
    margin: 1em auto;
    overflow: hidden;
}

.icon-container {
    width: 100%;
    height: 9em;
    padding: 0;
    margin:  0;
    overflow: hidden;
}

.banner {
    width: 100%;
}

.banner a {
    text-decoration: none;
    font-size: 1.3em;
    color: white;
    padding: 0;
    margin: 0
}

.banner a:hover {
    color: #221E22;
}

/*Inner properties  */
.inner-padding {
    padding: 1%;
}

.inner-overflow {
    overflow: hidden;
}

/* Colors */
.background-color-1 {
    background-color: #9DB4C0;
}

.background-color-2 {
    background-color: #7798AB;
}

.background-color-3 {
    background-color: #221E22;
}


/* Menu */

.menu {
    width: 100%;
    top: 0;
    margin: auto;
    overflow: hidden;
}

.menu-info {
    width: 100%;
    font-size: 1.2em;
    font-weight: lighter;
    text-align: center;
}

.menu-header {
    width: 100%;
    font-size: 1.8em;
    font-weight: bold;
    text-align: center;
    margin: 0.2em auto;
    padding-top: 0.5em;
}

.menu ul {
    display: block;
    list-style: none;
    font-size: 1em;
    font-weight: lighter;
    width: 70%;
    margin: 0 auto 0 auto;
    padding: 0;
    text-align: center;
}


.menu li {
    display: inline;
}

.menu a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: white;
    overflow: hidden;
    font-weight: lighter;
    background-color: #221E22;
    min-width: 8em;
    padding: 0.8em 2em 0.8em 2em;
    margin: 1em 1em;
}

.menu a:hover {
    color: #C2DFE3;
}


/* Education */

.return {
    font-size: 1.75em;
    font-weight: lighter;
}

.return ul {
    display: block;
    list-style: none;
    font-weight: lighter;
    text-align: left;
}

.return li {
    display: inline;
}

.return a {
    display: inline;
    text-align: center;
    text-decoration: none;
    color: #221E22;
    font-weight: lighter;
    width: 12%;
    margin-bottom: 1em;
}

.return a:hover {
    color: #C2DFE3;
}

.return p {
    display: inline;
    text-align: center;
    text-decoration: none;
    color: #221E22;
    font-weight: lighter;
    font-size: 100%;
    width: 12%;
    margin-bottom: 1em;
}

.subject + .subject {
    margin-top: 0.5em;
}

.subject {
    width: 70%;
    margin: auto;
}

.subject h2 {
    font-size: 1.5em;
    padding-top: 0.1em;
    margin: 0;
}

.subject h3 {
    font-size: 1.2em;
    font-weight: lighter;
    padding-top: 0.1em;
    margin: 0;
}

/* Physic */

.physic-style {
    font-family: "Comic Sans MS", serif ;
}

/* Hobby books */

.book + .book {
    margin-top: 0.5em;
}

.book {
    width: 90%;
    height: 8em;
    overflow: hidden;
    margin: 0.5em auto 0.5em auto;
}

.book h2 {
    font-size: 1.5em;
    padding-top: 0.1em;
    margin: 0;
}

.book h3 {
    font-size: 1.2em;
    font-weight: lighter;
    padding-top: 0.1em;
    margin: 0;
}

.annotation {
    font-size: 1em;
    font-weight: lighter;
    font-style: italic;
}

.book .col-2-6 {
    min-height: 20em;
}

/*Forms*/
select, input {
    height: 1.3em;
    font-size: 1.2em;
}

textarea {
    font-size: 1.1em;
    resize: none;
    max-width: 99%;
}

.form-row {
    margin: 0.5em 0 0.5em 0;
}

.form-row:first-of-type {
    margin-top: 2em;
}

.form-label {
    font-size: 1.3em;
    min-width: 50em;
    margin-right: 1em;
}

/*Q&A*/
.question {
    color: white;
    background-color: #7798AB;
    opacity: 0.9;
    width: 90%;
    padding: 0.2em;
    overflow: hidden;
}

.question h3, h4 {
    margin: 0.2em;
}

.question p {
    margin: 0.2em;
}

.answer {
    width: 90%;
    padding: 0.2em;
    overflow: hidden;
}

.answer p {
    margin: 0.2em;
    font-size: 1.2em;
}

input[type="submit"] {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: white;
    overflow: hidden;
    font-weight: lighter;
    background-color: #221E22;
    min-width: 8em;
    height: 2.5em;
    padding: 0.8em 2em 0.8em 2em;
    border: none;
}

input[type="submit"]:hover {
    color: #C2DFE3;
}



